@font-face {
    font-family: mojang;
    src: url(../fonts/Mojang-Regular.ttf);
}


body {
        font-family: 'mojang';
        margin: 0;
        padding: 0;
        line-height: 1.6;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(201, 196, 218));
        background-repeat: no-repeat;
        word-spacing: 5PX;
        height: 100%;
        background: url(../img/laut.jpg) no-repeat center center;
        background-size: cover;
        image-rendering: pixelated;
}

.logo {
        image-rendering: pixelated;
}

details {
        transition: width 0.01s;
        width: 50px;
}

.sidebar {
        background: #1b2a3a;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px #0005;
        color: white;
        position: fixed;
        right: 10px;
        z-index: 10;
        transition: all 1s;
        height: 90%;
        transform: translateY(-640px);
}

.sidebar summary {
        cursor: pointer;
        padding: 10px 18px;
        font-size: 20px;
        float: right;
        text-align: center;
        list-style: none;
}

.sidebar summary:hover {
        transform: scale(1.1);
}

.menu {
        margin: 60px 0;
        padding: 0 10px;
        list-style: none;
}

.menu li {
        padding: 10px;
        margin: 5px 0;
        text-align: center;
        background: #243b55;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s;
}

.menu li:hover {
    background: #325a85;
}

details[open] {
    width: 200px;
    animation: fadeIn 0.6s ease;
}

.menu li img {
        width: 150px;
        height: 120px;
}

.menu li a {
        text-decoration: none;
        color: aliceblue;
}

.minimap {
        image-rendering: pixelated;
}

.peta {
        border: none;
        width: fit-content;
        height: 520px;
        margin: auto;
        padding: 45px;
        background-image: url(../img/mapbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: pixelated;
        background-position: 0px -90px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        width: 600px;
        filter: drop-shadow(0 6px 10px rgba(135, 72, 8, 0.6));
}

.peta h1 {
        margin: auto;
        position: relative;
        text-align: center;
}

.peta img {
        width: 600px;
        image-rendering: pixelated;
        margin: auto;
        margin-top: -150px;
        margin-bottom: -150px;
}

.peta button {
        border: 5px dashed #805d35;
        border-radius: 9px;
        position: absolute;
        font-weight: bold;
        z-index: 13;
}

.peta button:hover {
        background-color: #ffffff00;
        border: none;
        transform: scale(1.5);
        border-radius: 15px;
        color: #ffffff00;
}

.peta button a {
        text-decoration: none;
        color: black;
}

.pulau img {
        position: absolute;
        transition: opacity 0.3s;
}

.jkt {
        left: 178px;
        bottom: 278px;
}

.bdg {
        left: 197px;
        bottom: 264px;
}

.bali {
        left: 313px;
        bottom: 254px;
}

.pulau img.hoverjkt {
        opacity: 0;
}

.jkt:hover ~ .pulau img.hoverjkt {
        opacity: 1;
}

.jkt:hover a {
        color: #ffffff00;
}

.jkt:hover ~ .pulau img.normal {
        opacity: 0;
}

.pulau img.hoverbdg {
        opacity: 0;
}

.bdg:hover ~ .pulau img.hoverbdg {
        opacity: 1;
}

.bdg:hover a {
        color: #ffffff00;
}

.bdg:hover ~ .pulau img.normal {
        opacity: 0;
}

.pulau img.hoverbal {
        opacity: 0;
}

.bali:hover ~ .pulau img.hoverbal {
        opacity: 1;
}

.bali:hover a {
        color: #ffffff00;
}

.bali:hover ~ .pulau img.normal {
        opacity: 0;
}

.hint {
        color: #382106;
        font-weight: bold;
}

aside {
        background-color: #1f2d52;
        color: #ffffff;
        padding: 10px;
}

aside a {
        align-items: center;
        position: relative;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin-bottom: 30px;
}

aside img {
        filter: invert(100%);
        width: 40px;
        image-rendering: pixelated;
        align-items: center;
        position: relative;
        vertical-align: middle;
}

.bawah {
        background-color: white;
        padding-bottom: 5px;
        margin-bottom: 0px;
}